.c-arrow-animaton {
  animation: vertical 1.5s ease-in-out infinite alternate;
}

.c-box-arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
}

.c-arrow {
  width: 18px;
  height: 10px;
  background-size: 100%;
  display: inline-block;

  @include mq-up(md) {
    width: 30px;
    height: 17px;
  }
}

@keyframes horizontal {
  0% { transform: translateX(-7px); }
  100% { transform: translateX(0); }
}

@keyframes vertical {
  0% { transform: translateY(-7px); }
  100% { transform: translateY(0); }
}
