/* c-heading-lv1
---------------------------------------------------------- */
.c-heading-lv1 {
  margin-bottom: 30px;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}

/* c-heading-lv2
---------------------------------------------------------- */
.c-heading-lv2 {
  margin-bottom: 30px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}

/* c-heading-lv3
---------------------------------------------------------- */
.c-heading-lv3 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}

/* c-heading-lv4
---------------------------------------------------------- */
.c-heading-lv4 {
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}

/* c-heading-lv5
---------------------------------------------------------- */
.c-heading-lv5 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}

/* c-heading-lv6
---------------------------------------------------------- */
.c-heading-lv6 {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }
  // @include mq-down(sm) {
  // }

  // @include mq-up(sm) {
  // }

  // @include mq-down(md) {
  // }

  // @include mq-up(md) {
  // }

  // @include mq-down(lg) {
  // }

  // @include mq-up(lg) {
  // }

  //  this is all media query that you can use, you can see the value of sm, md and lg in /mixin/_mediaquery.scss
  // please remove this comment when you have already read it.
}
