.c-why-we-do {
  padding: 50px 20px 65px;
  background-color: $grey;

  @include mq-up(md) {
    padding: 80px 0 110px;
  }

  @include mq-up(1400) {
    padding: 120px 0 140px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1327px;
    margin: 0 auto;
  }

  &__box {
    width: 100%;

    @include mq-up(md) {
      width: 50%;
    }

    &:not(:first-of-type) {
      margin-top: 25px;

      @include mq-up(md) {
        margin-top: 0;
      }
    }
  }

  &__heading {
    font-size: 3rem;
    margin-top: 25px;
    font-weight: 600;
    line-height: 1.2;

    @include mq-up(md) {
      font-size: 6.5rem;
      line-height: 1.1;
      margin-top: 50px;
      padding-right: 30px;
    }
  }

  &__content {
    font-size: 1.4rem;
    margin-top: 25px;
    font-weight: 300;

    @include mq-up(md) {
      margin-top: 50px;
      font-size: 2rem;
      color: $blue;
      padding-right: 30px;
    }
  }
}
