#navGlobal.c-nav-global
  a.c-nav-global__logo(href='#dummy')
    img(src='/assets/images/common/logo_sub.svg' alt='')
  ul.c-nav-global__list
    li.c-nav-global__item
      a.c-nav-global__link(href='#dummy')
        img.c-nav-global__icon(src='/assets/images/common/ico_problem.svg' alt='Problems')
        .c-nav-global__text Problems
    li.c-nav-global__item
      a.c-nav-global__link(href='#dummy')
        img.c-nav-global__icon(src='/assets/images/common/ico_campaign.svg' alt='Our campaign')
        .c-nav-global__text Our campaign
    li.c-nav-global__item
      a.c-nav-global__link(href='#dummy')
        img.c-nav-global__icon(src='/assets/images/common/ico_activities.svg' alt='Activities')
        .c-nav-global__text Activities
    li.c-nav-global__item
      a.c-nav-global__link(href='#dummy')
        img.c-nav-global__icon(src='/assets/images/common/ico_children.svg' alt='Children Sounds')
        .c-nav-global__text Children Sounds
    li.c-nav-global__item
      a.c-nav-global__link(href='#dummy')
        img.c-nav-global__icon(src='/assets/images/common/ico_contact.svg' alt='Contact us')
        .c-nav-global__text Contact us
// /nav-global