.c-why-we-do
  .c-why-we-do__inner
    .c-why-we-do__box
      h2.c-heading-type1 Why We Do
      .c-why-we-do__heading
        |ปัญหาความยากจน
        br._d-sm-block._d-md-none
        |และขาดแคลน
      .c-why-we-do__content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
    .c-why-we-do__box
      figure.c-why-we-do__frame
        img.c-why-we-doimage(src="/assets/images/why-we-do/boy-180437_1920.jpg", alt="")

.c-what-we-do
  .c-what-we-do__inner
    .c-what-we-do__media
      .media
        img(src="/assets/images/what-we-do/img_what_we_do.jpg", alt="")
    .c-what-we-do__content-box
      .c-what-we-do__label
        h2.c-heading-type1 What We Do
      .c-what-we-do__heading อาสาปันอิ่ม ปันยิ้มให้สังคม
      .c-what-we-do__content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec aliquet nunc, id consectetur lorem. Donec pretium est sed ornare bibendum. In tincidunt lacus vitae ullamcorper euismod. Praesent laoreet dui mattis, consectetur elit at, tincidunt magna. Aenean feugiat arcu ante, id pharetra tortor accumsan ut.

        p Aliquam pellentesque nulla congue aliquam viverra. Ut cursus sollicitudin metus nec tristique. Sed eget elementum quam, non mollis orci. Aliquam dignissim, augue ac pretium suscipit, eros enim fermentum ante, et congue lectus metus nec dui. Nunc et ipsum aliquam, sodales mi eu, varius odio. Proin porta nulla nec ex blandit, nec ornare lorem ullamcorper.