.c-why-we-do(id='problems')
  .c-why-we-do__inner
    .c-why-we-do__box
      h2.c-heading-type1 Why We Do
      .c-why-we-do__heading
        |ปัญหาความยากจน
        br._d-sm-block._d-md-none
        |และขาดแคลน
      .c-why-we-do__content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
    .c-why-we-do__box
      figure.c-why-we-do__frame
        img.c-why-we-doimage(src="/assets/images/why-we-do/boy-180437_1920.jpg", alt="")
  .c-box-arrow._d-sm-none
    a.c-arrow(href='#campaign')
      img.c-arrow-animaton(src="/assets/images/common/ico_arrow_down_black.svg", alt="")

.c-what-we-do(id='campaign')
  .c-what-we-do__inner
    .c-what-we-do__media
      a(href="https://youtube.com", target="_blank")
        .media
          img(src="/assets/images/what-we-do/img_what_we_do.jpg", alt="")
    .c-what-we-do__content-box
      .c-what-we-do__label
        h2.c-heading-type1 What We Do
      .c-what-we-do__heading อาสาปันอิ่ม ปันยิ้มให้สังคม
      .c-what-we-do__content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec aliquet nunc, id consectetur lorem. Donec pretium est sed ornare bibendum. In tincidunt lacus vitae ullamcorper euismod. Praesent laoreet dui mattis, consectetur elit at, tincidunt magna. Aenean feugiat arcu ante, id pharetra tortor accumsan ut.

        p Aliquam pellentesque nulla congue aliquam viverra. Ut cursus sollicitudin metus nec tristique. Sed eget elementum quam, non mollis orci. Aliquam dignissim, augue ac pretium suscipit, eros enim fermentum ante, et congue lectus metus nec dui. Nunc et ipsum aliquam, sodales mi eu, varius odio. Proin porta nulla nec ex blandit, nec ornare lorem ullamcorper.
      .c-box-arrow
        a.c-arrow(href='#how-we-do')
          img.c-arrow-animaton(src="/assets/images/common/ico_arrow_down_white.svg", alt="")
.c-how-we-do(id='how-we-do')
  .c-how-we-do__inner
    .c-how-we-do__label
      h2.c-heading-type1.c-heading-type1--blue How We Do
    .c-how-we-do__msg
      p We strive for better community empowerment, and livelihood improvement an entry point.
    .c-how-we-do__list
      .c-how-we-do__item
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="/assets/images/how-we-do/ico_how_we_do_01.svg", alt="")
          .c-how-we-do__heading
            |ไข่ไก่ 1 แพ็ค
            br._d-sm-block._d-md-none
            |บริจาค 1 ฟอง
          .c-how-we-do__text
            p Aliquam ullamcorper feugiat urna ut bibendum. Nulla eu erat sed ipsum eleifend.
      .c-how-we-do__item
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="/assets/images/how-we-do/ico_how_we_do_02.svg", alt="")
          .c-how-we-do__heading
            |ซื้อไข่ไก่อัครา 1 แพ็ค
          .c-how-we-do__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
      .c-how-we-do__item
        .c-how-we-do__card
          figure.c-how-we-do__icon
            img(src="/assets/images/how-we-do/ico_how_we_do_03.svg", alt="")
          .c-how-we-do__heading
            |นำไปบริจาคที่ต่างๆ
          .c-how-we-do__text
            p Aliquam ullamcorper feugiat urna ut bibendum. Nulla eu erat sed ipsum eleifend.
.c-our-impact
  .c-our-impact__inner
    .c-our-impact__box-heading
      h2.c-heading-type1 Our Impact
      .c-our-impact__heading ยอดร่วมบริจาคล่าสุดของเรา
    .c-our-impact__box-donate
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number 6
        .c-our-impact__box-donate-text เดือน
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number 8,500
        .c-our-impact__box-donate-text ฟอง
      .c-our-impact__box-donate-item
        .c-our-impact__box-donate-number 650
        .c-our-impact__box-donate-text มื้อ
  .c-box-arrow
    a.c-arrow(href='#activities')
      img.c-arrow-animaton(src="/assets/images/common/ico_arrow_down_white.svg", alt="")

.c-activity(id='activities')
  .c-activity__inner
    .c-activity__box-title
      .c-activity__box-label
        h2.c-heading-type1 Activities
      .c-activity__box-heading
        .c-activity__heading ALL ENTRIES
    .c-activity__box-list
      .c-activity__list
        .c-activity__item
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image(src="/assets/images/activity/img_activity_01.png", alt="")
            .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
            .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
        .c-activity__item
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image(src="/assets/images/activity/img_activity_02.png", alt="")
            .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
            .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
        .c-activity__item.-big.-orange._mr-md-0
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image._d-md-none(src="/assets/images/activity/img_activity_04_sp.png", alt="")
              img.c-activity__image._d-sm-none(src="/assets/images/activity/img_activity_04_pc.png", alt="")
            .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
            .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
        .c-activity__item.-big.-blue
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image._d-md-none(src="/assets/images/activity/img_activity_03_sp.png", alt="")
              img.c-activity__image._d-sm-none(src="/assets/images/activity/img_activity_03_pc.png", alt="")
            .c-activity__box-absolute
              .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
              .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
        .c-activity__item
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image(src="/assets/images/activity/img_activity_05.png", alt="")
            .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
            .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
        .c-activity__item._mr-md-0
          .c-activity__card
            figure.c-activity__frame
              img.c-activity__image(src="/assets/images/activity/img_activity_06.png", alt="")
            .c-activity__title Lorem ipsum dolor sit amet, consectet adipiscing elit.
            .c-activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis scelerisque lectus.
