.c-why-we-do
  .c-why-we-do__inner
    .c-why-we-do__box
      .c-why-we-do__heading ปัญหาความยากจน และขาดแคลน
      .c-why-we-do__content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem.
    .c-why-we-do__box
      figure.c-why-we-do__frame
        img.c-why-we-doimage(src="/assets/images/why-we-do/boy-180437_1920.jpg", alt="")