.c-hero
  figure.c-box-image
    img(src="/assets/img/common/img_mainvisual.jpg", alt="")
header.l-header
  .l-header__in.l-block
    if category === true
      h1.l-header__logo
    else
      .l-header__logo
        a.l-header__logo-link(href='/')
          img.l-header__logo-image(src='/assets/img/common/logo@2x.png', alt='Akara Group')
    a.l-header__menu-trigger.js-hambuger(href='#', data-delay='300')
      span.l-header__menu-trigger-mark
    .l-header__utility.l-header__utility--top
      .l-header__utility-wrap
        .l-header__utility-in
          nav.l-header__menu
            .l-header__menu-cover
            ul.l-header__menu-list
              li.l-header__menu-item
                a.l-header__menu-link.js-gnavi(data-group='menu', href='#')
                  span.l-header__menu-mark PRODUCTS
                  span.fas.fa-chevron-down
                  span.fas.fa-chevron-up
              li.l-header__menu-item
                a.l-header__menu-link(href='#')
                  span.l-header__menu-mark OUR STORY
              li.l-header__menu-item
                a.l-header__menu-link(href='#')
                  span.l-header__menu-mark RECIPES
              li.l-header__menu-item.nav-about
                a.l-header__menu-link.js-gnavi(data-group='menu', href='#')
                  span.l-header__menu-mark ABOUT US
                  span.fas.fa-chevron-down
                  span.fas.fa-chevron-up
          .l-header__nav-trigger
            a.l-header__nav-link.c-button-middle.c-button--orange(href='#dummy')
              span.c-button__text.u-pr-5 WHERE TO BUY
              span.fas.fa-map-marker-alt
              span.c-button__icon.c-icon--arrow
          .l-header__utility-trigger
            a.l-header__utility-link.js-hambuger(href='#')
              span.l-header__utility-icon.c-icon--plus CLOSE
