extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'title',
      keyword: 'keyword',
      description: 'description'
    }

    const topPage = true

block append scripts

block content
  .l-contents
    .l-container
      div You can start coding here!...

    //- Why we do
    include ../components/_why-we-do
