extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'title',
      keyword: 'keyword',
      description: 'description'
    }

    const topPage = true

block append scripts

block content
  .l-contents
    .l-container
      //- Why we do
      include ../components/_why-we-do

      h2.c-heading-type1 What we do
      h2.c-heading-type1.c-heading-type1--blue How we do

      include ../components/_lets-share
