extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'title',
      keyword: 'keyword',
      description: 'description'
    }

    const topPage = true

block append scripts

block content
  .l-contents
    .l-container
      div You can start coding here!...
      h2.c-heading-type1 What we do
      h2.c-heading-type1.c-heading-type1--blue How we do