extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'title',
      keyword: 'keyword',
      description: 'description'
    }

    const topPage = true

block append scripts

block content
  .l-contents
    .l-container

      include ../components/_why-we-do
      include ../components/_children-sound
      include ../components/_our-associate
      include ../components/_lets-share
