extends ../../layouts/master.pug

block variables
  -
    const meta = {
      title: 'title',
      keyword: 'keyword',
      description: 'description'
    }

    const topPage = false

block append scripts

block content
  .l-contents
    .l-container
      div You can start coding here! Subpage