@charset "UTF-8";

@import '_mixin';

/* ==========================================================
  Web fonts
========================================================== */

/* ==========================================================
  html5 elements
========================================================== */
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  display: block;
}

/* ==========================================================
  reseting
========================================================== */
html {
  font-size: 62.5%;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

body {
  font-family: $fontBase;
  font-size: 1.6rem;
  background-color: $white;
  color: $baseColor;
  line-height: 1.75;
  text-size-adjust: 100%;

  @include mq-max-sp {
    font-size: 1.3rem;
  }
}

input,
textarea,
select,
button {
  font-family: $fontBase;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

input,
textarea {
  margin: 0;
  font-size: 100%;
}

input,
textarea,
select {
  appearance: none;
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  overflow: visible;
  background: none;
  vertical-align: top;
  font-size: 100%;
  color: inherit;
  cursor: pointer;
  appearance: none;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}

fieldset {
  border: 0;
}

img {
  border: 0;
  height: auto;
  vertical-align: top;
  max-width: 100%;
}

address,
caption,
code,
em,
th {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  font-size: 100%;
  font-weight: normal;
}

sup,
sub {
  font-size: 63%;
}

sup {
  vertical-align: top;
}

sub {
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ==========================================================
  base Link
========================================================== */
a {
  outline: none;
  text-decoration: none;
}
