// Breakpoint
$pcBreakpoint: 1440px;
$tbBreakpoint: 769px;

// contents-width
$contents-width: 1440px;

// contents-gatter
$contents-gatter-sp: 15px;
$contents-gatter-pc: 15px;

// Fonts
$fontBase: "Kanit", "Arial", sans-serif;
$fontEng:  "Montserrat", "Noto Sans JP", sans-serif;

// Color
$darkBlue: #211E1F;
$baseColor: #354463;
$yellow1: #FFB900;
$yellow2: #FBAF00;
$grey1: #F2F2F2;
$grey2: #E6E6E6;
$white: #E6E6E6;

// transition
$transition: .3s;

// opacity
$opacity: .7;

$fa-font-path: "font-awesome/webfonts";
